@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  /* bg-gradient-to-br from-black  via-emerald-950 to-green-900 */
    body{
      background-image: url("../src//assets//purp2.jpg");
        @apply w-screen h-fit backdrop-blur-sm bg-cover  content-center 
    }

    .BotMsg{
        @apply w-[80%] p-3 m-2 rounded-lg text-green-400 font-sans
    }

    .userMsg{
        @apply  bg-black/35 rounded-lg max-w-[50vh] p-4 m-2  relative left-[65%] shadow-lg shadow-black/50
         font-thin text-green-600
    }

     .scrollbar-green::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-green::-webkit-scrollbar-track {
    @apply bg-black/25 scale-90
  }

  .scrollbar-green::-webkit-scrollbar-thumb {
    background-color: #bdcfc4;
    border-radius: 9999px;
}}